* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  width: 80%;
  margin: 0 auto;
  background-color: #000;
  color: #fff;
  font-family: arial, sans-serif;
}
p {
  font-size: 20px;
}
.wrong-guess, .turns-left {
  font-size: 30px;
}
.letters-guessed, .turns {
  display: inline-block;
  width: 49%;
}
.turns {
  text-align: right;
  padding: 40px 40px 0 0;
}
.letters-guessed {
  padding: 40px 0 0 40px;
}

.word {
  font-size: 60px;
  text-align: center;
}
.word span {
  margin-right: 15px;
}
