<section class="index">
  <h1>Film Search</h1>

  <h3>Search for a film by its title</h3>
  <form action="/titles_list" method="get">
    <input type="text" name="movie_title" placeholder="Search title here...">
    <button type="submit" name="button">Search</button>
  </form>
</section>
